{% extends 'main/wrapper.html' %}


{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class = "features">
        <h4>Министерство образования и науки РФ</h4>
        <h4>федеральное государственное бюджетное образовательное учреждение высшего образования</h4>
        <h4>«Омский государственный технический университет»</h4>
        <h2>Расчетно-графическая работа</h2>
        <h2>Веб програмирование</h2>
        <p></p>
        <p></p>
        <button href="http://asoiu.com/" class="btn btn-warning" title="Официальный сайт кафедры АСОИУ ОмГТУ">Кафедра АСОИУ </button>
        <p></p>
        <p>Цель работы - научиться проектировать и разрабатывать Web сайты.</p>
        <p>Данный сайт разработан на технологии Django. Сайт представляет собой информационный портал.</p>
    </div>
{% endblock %}