{% extends 'main/wrapper.html' %}


{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class = "features">
        <h1>{{ title }}</h1>
        <p>dkjfkdjfk jkdjfkj kdjk jdkjkdjfkjdf</p>
        <button class="btn btn-warning">fjkkdjfk </button>


        {% for el in values %}
            {% if el == 'Hello' %}
                <p>{{ el }}</p>
            {% endif %}
        {% endfor %}

        {{ obj.age }}

        {% for el in obj %}
            <p>{{ el }}</p>
        {% endfor %}
    </div>
{% endblock %}